<div class="container card">
  <div class="row m-3">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form #addForm="ngForm"   (ngSubmit)="onAddMaterial(addForm)">
        <div class="mb-3">
          <label class="form-label">تاريخ الرصد</label>
          <input
            type="date"
            class="form-control form-control-rounded mb-2"
            id="date"
            #date
            min="1900-01-01"
            ngModel
            name="monitorDate"
            required
            #monitorDate="ngModel"
          />
          <span style="color: red;" *ngIf="!monitorDate.valid && monitorDate.touched">* إدخال تاريخ الرصد</span>

        </div>
        <div class="mb-3">
          <div class="form-label">اللغة</div>
          <select
            class="form-select form-control-rounded"
            ngModel
            name="language"
            required
            #language="ngModel"
          >

            <option value="عربي">عربي</option>
            <option value="إنجليزي">إنجليزي</option>
          </select>
          <span style="color: red;" *ngIf="!language.valid && language.touched">*أختر اللغة </span>

        </div>
        <div class="mb-3">
          <div class="form-label">القسم</div>
          <select
            class="form-select form-control-rounded"
            ngModel
            name="section"
            required
            #section="ngModel"

          >
            <option value="سياسي">سياسي</option>
            <option value="رياضي">رياضي</option>
            <option value="إجتماعي">إجتماعي</option>
          </select>
          <span style="color: red;"*ngIf="!section.valid && section.touched">*أختر القسم </span>

        </div>
        <div class="mb-3">
          <label class="form-label">الكاتب</label>
          <input
            type="text"
            class="form-control form-control-rounded mb-2"
            ngModel
            name="author"
            placeholder="..."
            required
            #author="ngModel"
            maxlength="50"/>
            <span style="color: red;" *ngIf="!author.valid && author.touched">*إدخل أسم الكاتب </span>
        </div>
        <div class="mb-3">
          <label class="form-label">العنوان</label>
          <input
            type="text"
            class="form-control form-control-rounded mb-2"
            name="title"
            ngModel
            #title="ngModel"
            placeholder="..."
            required
            maxlength="150"
          />
          <span style="color: red;" *ngIf="!title.valid && title.touched">*إدخل العنوان </span>

        </div>

        <div class="mb-3">
          <label class="form-label">الرابط</label>

          <input
            type="text"
            name="link"
            ngModel
            #link="ngModel"
            class="form-control form-control-rounded mb-2"
            placeholder="https://example.com"
            maxlength="100"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">المرفقات</label>
          <input
            type="file"
            class="form-control form-control-rounded mb-2"
            ngModel
            #file="ngModel"
            name="attachments"
            accept="image/png , application/pdf"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">المحتوى</label>
          <textarea
            class="form-control form-control-rounded"
            ngModel
            name="content"
            #content="ngModel"
            placeholder=" الحد الأقصى 1000 حرف "
            required
            maxlength="1000"

          ></textarea>
          <span style="color: red;" *ngIf="!content.valid && content.touched">*إدخل المحتوى </span>

        </div>
        <button
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="!addForm.valid"
        >
          أرسل
        </button>
      </form>
    </div>
  </div>
</div>
