<div class="card">
  <div class="card-header">
    <h3 class="card-title">العنوان :{{ materails.title }}</h3>
  </div>
  <div class="card-body">
    <p class="text-muted">اللغة : {{ materails.language }}</p>
    <p class="text-muted">الرابط : {{ materails.link }}</p>
    <p class="text-muted">الملف : {{ materails.attachments }}</p>
    <p class="text-muted">القسم : {{ materails.section }}</p>
    <p class="text-muted">تاريخ الرصد :{{ materails.monitorDate }}</p>
    <p class="text-muted">المؤلف : {{ materails.author }}</p>
    <p class="text-muted">المحتوى : {{ materails.content }}</p>
  </div>

</div>
